.about-page {
    font-family: sans-serif;
    margin-block-start: 3rem;
}

.about-page header {
    font-size: 3rem;
    margin-block-end: 5rem;
    text-align: center;
    color: var(--secondary-clr1);
}

.about-page .about-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 450px;
    justify-items: center;
    column-gap: 5em;
}

.about-image1 img {
    width: 200px;
    border-radius: 50%;
    background-color: #E94235;
}

.about-image2 img {
    width: 200px;
    border-radius: 50%;
    background-color: #4285F4;
}

.github-link img {
    max-width: 40px;
}