.note-container {
    columns: 100px 4;
    gap: 20px;
    width: 80%;
    margin-left: 200px;
}

li {
    list-style-type: none;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 64%;
    height: max-content;
    border-radius: 13px;
    overflow: hidden;
    margin-bottom: 20px;
}