.note-container {
    columns: 100px 3;
    gap: 20px;
    width: 80%;
    grid-area: note-container;

}

li {
    list-style-type: none;
}

.inputs {
    display: flex;
    margin-left: 20px;
    align-items: center;
    gap: 250px;
}