.note-container {
    columns: 100px 4;
    gap: 20px;
    width: 80%;
    margin-left: 200px;
}

li {
    list-style-type: none;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 64%;
    height: max-content;
    border-radius: 13px;
    overflow: hidden;
    margin-bottom: 20px;
}

.dark-mode {
    background-color: #222;
    color: #fff;
  }
  
  .dark-mode-button {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }