.note-filter{
    display:grid;
    grid-template-rows: repeat(50px);
    grid-area: filter;
    max-width:  300px;
    margin-bottom: 30px;
}

.search-filter{
    max-height: 30px;

}

h2{
}

.select-filter{
    max-height: 30px;
}