.note-filter {
    position: relative;
    max-width:  300px;
    margin-bottom: 30px;
}

.input-container {
    display: flex;
    align-items: center;
}

.search-filter {
    flex-grow: 1;
    max-height: 30px;
    min-width: 200px;
    border-radius: 20px;
}

.select-container {
    position: absolute;
    top: 24%;
    right: 9px;
    transform: translateY(-50%);
}

.select-filter {
    padding: 0 8px 0;
    max-height: 20px;
    margin-top: 15px;
    width: 100px;
    border-radius: 20px;
    font-size: 10px;
}

