.email-list {
    background-color:gray;
}

.email-list ul li {
    cursor: pointer;
    transition: 0.2s;
    border-block-end: 1px solid black;
}

.email-list ul li:last-child {
    border-block-end: none;
}

.email-list ul li:hover {
    background-color: var(--secondary-clr9);
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: 1px solid rgb(102, 93, 93);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}