.email-list .header-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-block-end: 0.6em;
}

.email-list .header-list > *:last-child{
    justify-self: end;
}

.email-list ul li {
    padding: 0.6em;
    background-color: #e5e5e5;
}

.email-list ul li:not(:last-child) {
    margin-block-end: 0.6em;
}