.email-filter {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0)
}

.email-filter input {
    border-radius: 1em;
    width: 40%;
}

.email-filter select {
    align-self: center;
}