.email-preview {
    display: grid;
    grid-template-columns: minmax(100px, 250px) 1fr 60px;
    column-gap: 2em;
    padding: 1.2em;

    font-weight: bold;
}

.email-preview.read {
    background-color: #ffffff78;
    font-weight: normal;
}