.email-preview {
    position: relative;
    display: grid;
    grid-template-columns: minmax(100px, 180px) 1fr 60px;
    column-gap: 2em;
    padding: 1em;
    background-color: var(--clr4);
    font-weight: bold;
    transition: 0.1s;
}

.email-preview span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.email-preview .email-body {
    font-weight: normal;
    opacity: 0.8;
}

.email-preview.read {
    background-color: var(--clr5);
    font-weight: normal;
    opacity: 0.9;
}

.email-preview .star {
    position: relative;
    margin-inline: 0.5em;
}

.email-preview .star::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 6px;
    height: 6px;
    background-color: yellow;
    border-radius: 50%;
    opacity: 0;
}

.email-preview.starred .star {
    color: yellow;
    fill: yellow;
    font-variation-settings: 'FILL' 1;
}

.email-preview.starred .star::before {
    opacity: 1;
}

.email-preview .material-symbols-outlined {
    font-size: 1rem;
}

.email-preview.checked {
    background-color: var(--secondary-clr6);
}

.email-preview:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.email-preview .actions-right {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.email-preview .actions-right .material-symbols-outlined {
    font-size: 1.5rem;
    font-weight: bold;
}

.email-preview .actions-right .delete {
    margin-inline-end: 0.5em;
}