.email-preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 1.2em;

    font-weight: bold;
    background-color: #e0edff;
}

.email-preview > *:last-child {
    justify-self: end;
}

.email-preview.read {
    background-color: #cfdbe8;
    font-weight: normal;
}