.email-list {
    background-color: #e0edff;
}

.email-list .header-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1.2em;
    border-block-end: 1px solid black;
}

.email-list .header-list > *:last-child{
    justify-self: end;
}

.email-list ul li {
    cursor: pointer;
    transition: 0.2s;
    border-block-end: 1px solid black;
}

.email-list ul li:last-child {
    border-block-end: none;
}

.email-list ul li:hover {
    color: blue;
}