:root {
  --clr1: #f2f2f2;
  --clr2: #ffffff;
  --clr3: #2f2f2f;
  --clr4: #d4d0ce6c;
  --clr5: #d1cdcd;

  --secondary-clr1: #0b57d0;
  --secondary-clr2: #c2dbff;
  --secondary-clr3: #DFD7BF;
  --secondary-clr4: #F2EAD3;
  --secondary-clr5: #f3f0eb;

  --tertiary-clr1: #310d03;
  --tertiary-clr2: #C38154;
  --tertiary-clr3: #FFC26F;
  --tertiary-clr4: #F9E0BB;
}