:root {
  --clr1: rgb(255, 255, 255);
  --clr2: rgb(222, 222, 222);
  --clr3: rgb(155, 155, 155);
  --clr4: rgb(96, 96, 96);
  --clr5: rgb(0, 0, 0);

  --secondary-clr1: #58c93a;
  --secondary-clr2: #7a0746;
  --secondary-clr3: #e0edff;
  --secondary-clr4: #cfdbe8;
  --secondary-clr5: #1a73e8;
} 